* {
    font-family: sans-serif;
}

#assignment-instructions {
    color:red;
    font-family: sans-serif;
}

code {
    color: red;
    font-family: 'Montserrat', sans-serif;

}

li code {
    color: green;
}

